.example-3-cube {
    &-1 {
        background: $background-1;
    }

    &-2 {
        background: $background-2;
    }

    &-3 {
        background: $background-3;
    }

    &-4 {
        background: $background-4;
    }

    &-5 {
        background: $background-5;
    }
}