header {
    display: flex;
    justify-content: space-between;
    background: $primary-color;
    padding: rem-calc(20);
    height: $headerHeight;
    position: relative;

    .logo {
        width: rem-calc(175);
        margin-right: rem-calc(20);
    }

    h1 {
        color: $white-color;
        font-family: 'Cuprum';
        font-size: rem-calc(25);
        position: relative;
        top: rem-calc(-3);
    }

    .login-state {
        display: flex;
        flex-direction: column;
        color: $white-color;
        min-width: 150px;
    }
}