<h2>HTML Coding Guideline</h2>

<div class="content-block">
    <h3>1. Valid and readable markup</h3>
    <ul>
        <li>write everything lowercase</li>
        <li>take care of the correct indentation
            <ul>
                <li>spaces</li>
            </ul>
        </li>
        <li>120 chars per line
            <ul>
                <li>settings.json => "editor.rulers": [ 120 ]</li>
            </ul>
        </li>
        <li>closing selfclosing-tags uniformly or not <br> / <br/></li>
        <li>use automatic code formatting (only for new projects!)
            <ul>
                <li>settings.json => "editor.formatOnSave": false/true</li>
            </ul>
        </li>
        <li>organize DOM-Elements:
            <ul>
                <li>rather use semantic HTML5-elements instead of just a "div"</li>
                <li>ask yourself if you need a block-element or not
                    <ul>
                        <li>(span {{"{display: block}"}} => just div)</li>
                    </ul>
                </li>
            </ul>
        
        </li>
    </ul>
</div>

<div class="content-block">
    <h3>2. Don‘t use inline styles and scripts</h3>
    <ul>
        <li>avoid inline styles
            <ul>
                <li>markup looks terrible, if it‘s used often</li>
                <li>it‘s hard to override those styles by extern css</li>
                <li>there are no excuses and exceptions {{";-)"}}</li>
            </ul>
        </li>
        
    </ul>
</div>

<div class="content-block">
    <h3>3. Script tags on the bottom (outside angular focus)</h3>
    <p>If you have an angular project, then load external scripts via angular.json</p>
    <ul>
        <li>when the script file is downloaded, the browser is waiting for it and pauses the rendering

            <ol>
                <li>Header: waiting for downloading and execution</li>
                <li>Body with async attribut: rendering is paused until the file is executed</li>
                <li>Body with defer attribut: download and execution following after the rendering</li>
            </ol>

        </li>
    </ul>
</div>

<div class="content-block">
    <h3>4. Performance</h3>
    <ul>
        <li>compress 3rd party (css/js) libraries</li>
        <li>compress jpg and png images (e.g. https://tinypng.com/)</li>
        <li>create different image sizes for different devices (jpg/png)
            <ul>
                <li>use srcsets and sizes</li>
            </ul>
        </li>
    </ul>
</div>

<div class="content-block">
    <h3>5. Validation</h3>
    <ul>
        <li>Use a validation tool in your IDE or in your browser

            <ul>
                <li>Chrome: <a href="https://chrome.google.com/webstore/detail/html-validator/mpbelhhnfhfjnaehkcnnaknldmnocglk/related?hl=de">Html Validator</a></li>
                <li>Firefox: <a href="https://addons.mozilla.org/de/firefox/addon/html-validator/">Html Validator</a></li>
            </ul>
        </li>

        <li>Validation plugin for VS Code</li>
    </ul>
</div>