<app-header></app-header>

<section class="container">
    <div class="row">
        <aside class="col-12 col-md-2 sidebar" *ngIf="(isAuthenticated | async)">
            <app-sidebar></app-sidebar>
        </aside>

        <div class="col-12 col-md-10">
            <section class="content">
                <div *ngIf="!(isAuthenticated | async)">
                    <h2>Bitte melden Sie sich an, um die App zu bedienen.</h2>
                    <button (click)="login();">Login</button>
                </div>

                <ng-container *ngIf="(isAuthenticated | async)">
                    <router-outlet></router-outlet>
                </ng-container>
            </section>
        </div>
    </div>
</section>