<nav class="navigation">
    <ul>
        <li class="level-1">
            <a routerLink="">
                <fa-icon [icon]="faChevronRight"></fa-icon>
                <span>Code Conventions</span>
            </a>
            <ul>
                <li class="level-2"><a routerLink="code-convention/html" routerLinkActive="active-link"><span>HTML</span></a></li>
                <li class="level-2"><a routerLink="code-convention/css" routerLinkActive="active-link"><span>CSS/SCSS</span></a></li>
                <li class="level-2"><a routerLink="code-convention/js" routerLinkActive="active-link"><span>JS/TS</span></a></li>
            </ul>
        </li>
        <li class="level-1">
            <a routerLink="" class="disabled">
                <fa-icon [icon]="faChevronRight"></fa-icon>
                <span>Frontend Skills</span>
            </a>
            <ul>
                <li class="level-2"><a routerLink="" class="disabled"><span>Flexbox / CSS-Grid</span></a></li>
                <li class="level-2"><a routerLink="" class="disabled"><span>MaterialUI/DevExpress</span></a></li>
                <li class="level-2"><a routerLink="" class="disabled"><span>Iconfonts</span></a></li>
                <li class="level-2"><a routerLink="" class="disabled"><span>Redux</span></a></li>
                <li class="level-2"><a routerLink="" class="disabled"><span>NVM</span></a></li>
                <li class="level-2"><a routerLink="" class="disabled"><span>Localstorage</span></a></li>
            </ul>
        </li>
        <li class="level-1">
            <a routerLink="" class="disabled">
                <fa-icon [icon]="faChevronRight"></fa-icon>
                <span>Examples</span>
            </a>
            <ul>
                <li class="level-2"><a routerLink="" class="disabled"><span>Redux Store</span></a></li>
                <li class="level-2"><a routerLink="" class="disabled"><span>OpenId</span></a></li>
                <li class="level-2"><a routerLink="" class="disabled"><span>PWA</span></a></li>
                <li class="level-2"><a routerLink="" class="disabled"><span>Testing</span></a></li>
            </ul>
        </li>
    </ul>
</nav>