<nav class="navigation">
    <ul>
        <li class="level-1">
            <a href="">
                <fa-icon [icon]="faChevronRight"></fa-icon>
                <span>Code Conventions</span>
            </a>
            <ul>
                <li class="level-2"><a href="code-convention/html"><span>HTML</span></a></li>
                <li class="level-2"><a href=""><span>CSS/SCSS</span></a></li>
                <li class="level-2"><a href=""><span>JS/TS</span></a></li>
            </ul>
        </li>
        <li class="level-1">
            <a href="">
                <fa-icon [icon]="faChevronRight"></fa-icon>
                <span>Frontend Skills</span>
            </a>
            <ul>
                <li class="level-2"><a href=""><span>Flexbox / CSS-Grid</span></a></li>
                <li class="level-2"><a href=""><span>Iconfonts</span></a></li>
                <li class="level-2"><a href=""><span>NVM</span></a></li>
                <li class="level-2"><a href=""><span>Localstorage</span></a></li>
            </ul>
        </li>
        <li class="level-1">
            <a href="">
                <fa-icon [icon]="faChevronRight"></fa-icon>
                <span>Redux Store</span>
            </a>
        </li>
        <li class="level-1">
            <a href="">
                <fa-icon [icon]="faChevronRight"></fa-icon>
                <span>OpenId</span>
            </a>
        </li>
        <li class="level-1">
            <a href="">
                <fa-icon [icon]="faChevronRight"></fa-icon>
                <span>PWA</span>
            </a>
        </li>
        <li class="level-1">
            <a href="">
                <fa-icon [icon]="faChevronRight"></fa-icon>
                <span>Testing</span>
            </a>
        </li>
    </ul>
</nav>