$primary-color: rgb(26, 52, 87);
$primary-color-10: rgba(26, 52, 87, 0.1);
$primary-color-20: rgba(26, 52, 87, 0.2);
$primary-color-30: rgba(26, 52, 87, 0.3);
$primary-color-40: rgba(26, 52, 87, 0.4);
$primary-color-50: rgba(26, 52, 87, 0.5);
$primary-color-60: rgba(26, 52, 87, 0.6);
$primary-color-70: rgba(26, 52, 87, 0.7);
$primary-color-80: rgba(26, 52, 87, 0.8);
$primary-color-90: rgba(26, 52, 87, 0.9);

$white-color: rgb(255, 255, 255);
$black-color: rgb(0, 0, 0);
$black-color-light: rgba(0, 0, 0, 0.5);
$gray-color-light: rgb(204, 204, 204);