html, body { height: 100%; }

body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: rem-calc(14);
    color: $primary-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cuprum';
}

a {
    color: $primary-color;
}

body .container {
    max-width: initial;
}

.content {
    padding-top: rem-calc(26);
    max-width: rem-calc(850);

    ul {
        li {
            padding: rem-calc(8) 0;
        }
    }

    .content-block {
        padding-bottom: rem-calc(30);
    }
}

.margin-standard {
    margin: rem-calc(20) 0;
}


.button--cta {
    background: #ffffff;
    color: #000000;
    padding: 5px 10px;

    &.button--cta__green {
        background: green;
    }

    &.button--cta__icon {
        &:before {
            content: '&foo';
            padding-right: 10px;
        }
    }
}